/** @format */
/*
 * @Author: crimsonstrife
 * @Date: 2022-04-26 22:28:51
 * @Last Modified by: crimsonstrife
 * @Last Modified time: 2022-04-28 22:39:26
 */

#navWrapper {
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#navAbout {
	color: #fff !important;
}

#settingsTabs h3 {
	padding: 5px 15px;
}

#settingsTabs.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

#settingsTabs.container::after,
#settingsTabs.container::before {
	clear: both;
	display: table;
	content: " ";
}

#settingsTabs.container .nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

#settingsTabs.container .nav::after,
#settingsTabs.container .nav::before {
	clear: both;
	display: table;
	content: " ";
}

#settingsTabs.container .nav > li {
	position: relative;
	display: block;
}

#settingsTabs.container ul.nav-tabs {
	border-bottom: 1px solid #ddd;
}

.nav-pills > li > a {
	border-radius: 0;
}

.nav-pills > li > a {
	border-radius: 4px 4px 0 0;
}

#settingsTabs.container ul.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
}

#settingsTabs.container ul.nav-tabs > li.active > a,
#settingsTabs.container ul.nav-tabs > li.active > a:hover,
#settingsTabs.container ul.nav-tabs > li.active > a:focus {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}

#settingsTabs .tab-content > .tab-pane {
	display: none;
}

#settingsTabs .tab-content > .active {
	display: block;
}

.navbar {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.5rem 1rem;
}

.navbar .container {
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.navbar-brand {
	color: #fff;
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

.howtobody {
	display: inline-flex;
	top: 0;
	left: 0;
	line-height: 1.5;
}

.howtobody header {
	text-align: center;
	margin: 10px;
	font-size: 1.8em;
	color: black;
}

#howtosidebar {
	position: sticky;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	border-right: solid rgb(0, 22, 22, 0.4);
}

#howtosidebar ul {
	height: 80%;
	padding: 0;
	text-align: center;
}

#howtosidebar li {
	border-bottom: 1px solid black;
	list-style: none;
	padding: 10px;
}

#howtosidebar a {
	color: black;
	text-decoration: none;
}

/* ul {
  text-align: center;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}*/

.howtocontainer {
	padding: 30px;
	position: relative;
}

.main-sec {
}

.main-sec article {
}

.main-sec header h1,
.main-sec h1 {
	text-align: left;
	margin-left: 0;
	font-size: 1.25rem;
	font-weight: bolder;
}

.main-sec article p,
.main-sec p {
	padding: 10px;
}

.main-sec article h3,
.main-sec h3 {
	padding: 10px;
	font-size: 0.99rem;
	font-weight: bold;
}

.main-sec article ul,
.main-sec ul {
	padding: 10px;
	font-size: 1rem;
}

.main-sec article ul li,
.main-sec ul li {
	list-style: disc;
	list-style-position: inside;
	font-size: 1rem;
}

.main-sec article ol,
.main-sec ol {
	padding: 10px;
	font-size: 1rem;
}

.main-sec article ol li,
.main-sec ol li {
	list-style: decimal;
	list-style-position: inside;
	font-size: 1rem;
}

code {
	margin-left: 10px;
	padding-left: 10px;
}

input[type="text"][required],
input[type="number"][required] {
	background-image: linear-gradient(
		45deg,
		transparent,
		transparent 50%,
		red 50%,
		red 100%
	);
	background-position: top right;
	background-size: 0.5em 0.5em;
	background-repeat: no-repeat;
}

input[type="text"] + span,
input[type="number"] + span {
	padding-right: 30px;
}

input[type="text"]:invalid + span:after,
input[type="number"]:invalid + span:after {
	position: absolute;
	content: "✖";
	padding-left: 5px;
}

input[type="text"]:valid + span:after,
input[type="number"]:valid + span:after {
	position: absolute;
	content: "✓";
	padding-left: 5px;
}

.switchCtrl {
	margin: 0;
	padding: 0;
	height: 18px;
	cursor: pointer;
}
.switchCtrl.right-side {
	float: right;
}
.switchCtrl.right-side + label.title {
	float: right;
}
.switchCtrl + label.title {
	font-weight: normal;
	display: inline-block;
	margin: 0;
	cursor: pointer;
}
.switchCtrl + label.title::after {
	content: " ";
	white-space: pre;
}
.switchCtrl + label.title::before {
	content: " ";
	white-space: pre;
}
.switchCtrl input {
	display: none;
}
.switchCtrl input:disabled + .toggle {
	cursor: not-allowed;
}
.switchCtrl input:disabled + .toggle::before {
	background-color: #e6e6e6;
}
.switchCtrl input:disabled + .toggle::after {
	background-color: #e6e6e6;
}
.switchCtrl input:checked + .toggle::before {
	background-color: seagreen;
}
.switchCtrl input:checked + .toggle::after {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
	background-color: seagreen;
}
.switchCtrl input:checked:disabled + .toggle::before {
	background-color: #caeeda;
}
.switchCtrl input:checked:disabled + .toggle::after {
	background-color: #caeeda;
}
.switchCtrl .toggle {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	overflow: hidden;
	vertical-align: top;
}
.switchCtrl .toggle::after {
	content: "";
	position: absolute;
	width: 12px;
	top: 4px;
	left: 4px;
	bottom: 4px;
	display: inline-block;
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	box-sizing: border-box;
	border: 3px solid white;
	background-color: #c0c0c0;
}
.switchCtrl .toggle::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background-color: #c0c0c0;
	display: inline-block;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.switchCtrl.rounded .toggle {
	border-radius: 10px;
}
.switchCtrl.rounded .toggle::after {
	border-radius: 50%;
}
.switchCtrl.rounded .toggle::before {
	border-radius: 10px;
}
